// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
#app{
    background-color: #A2F5B3;
}
.nav {
    background-color: #EEE;
    a {
        color: #444;
    }
}
