// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
#app {
    background-color: #DDEDE7;
}
.nav {
    background-color: #eee;
    a {
        color: #444;
    }
}

[v-cloak] {
    display: none;
}
